.text-yellow {
    color: #FDBA30;
}

.section h2 {
    font-size: 16px;
    line-height: 20px;
    font-family: "poppinsmedium";
}

.section h3,
.section h4 {
    font-size: 16px;
    line-height: 20px;
    font-family: "poppinsmedium";
}

.section p {
    font-size: 14px;
    font-family: "poppinsregular";
}

/** header**/
.logo-container {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 1;
}

.logo-container img {
    height: 82px;
}

.image-mobile-empleabilidad {
    background-image: url('../img/bg-empleabilidad.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 460px;
}

.image-mobile-internacionalidad {
    background-image: url('../img/bg-internacionalidad-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 460px;
}

.height-top-text {
    height: 180px;
}

.title h1 {
    color: #fff;
    font-family: 'poppinsbold';
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

.cta-yellow>a {
    background-color: #FDBA30;
    padding: 10px 18px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: "poppinsmedium";
    line-height: 20px;
    width: 100%;
    margin: 0 auto 10px;
}

.stripe:before {
    background: #ffffff;
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-10deg);
    height: 60%;
    width: 100%;
    content: "";
    top: 0px;
    left: 0;
    position: absolute;
}

.line {
    width: 40px;
    height: 2px;
    margin: 10px 0 32px;
}

.line-black {
    background: #000000;
}

.line-white {
    background: #ffffff;
}

.line-purple {
    background: #8330F5;
}

.why-box .line {
    width: 40px;
    margin: 6px 0 12px;
}

.box {
    background-color: #EBEBEB;
    margin-bottom: 12px;
    height: 100px;
    align-items: center;
}

.box p {
    margin-bottom: 0px;
}

.box .number {
    width: 36%;
    font-size: 30px;
    text-align: center;
}

.box .number .text-small {
    font-size: 20px;
}

.box .content {
    width: 60%;

}

.why-box {
    position: relative;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.line-shadow::after {
    background: #fdba30;
    content: "";
    display: block;
    bottom: -16px;
    height: 32px;
    right: -15px;
    position: absolute;
    width: 105%;
    z-index: -1;
}

.step-box {
    border: 1px solid #fdba30;
    width: 100%;
    height: auto;
    min-height: 196px;
}

.step-box.step-first {
    border: 1px solid #fdba30;
    background-color: #fdba30;
}

.step-box .step {
    width: 33.333333%;
    position: relative;
    color: #fdba30;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.step-box.step-first .step {
    color: #000000;
    border-right: 1px solid #ffffff;
}

.step-box .content {
    width: 66.666667%;
}

.step-box .step {
    border-right: 1px solid #fdba30;
}

.step-box.step-first .step::after {
    background: #ffffff;
    z-index: 1;
}

.step-box .step h3 {
    font-size: 20px;
    font-family: "poppinsmedium";
    text-transform: uppercase;
    text-align: center;
}

.step-box span.number {
    font-size: 60px;
    font-family: "poppinsbold";
    display: flex;
    align-items: center;
    justify-content: center;
}

/***video modal**/
.video-modal::after {
    content: "";
    background: url('https://www.upn.edu.pe/sites/default/themes/upn/img/video_icon.svg') no-repeat center center;
    background-size: 54px;
    width: 86px;
    height: 86px;
    display: block;
    position: absolute;
    z-index: 5;
    left: 8px;
    bottom: 5px;
}

figure>img {
    width: 100%;
}

/***acordeon**/
.style-accordion .card {
    margin-bottom: 10px;
    border: 0;
}

.style-accordion .card-body {
    padding: 10px 0;
}

.style-accordion .card-header {
    background-color: #fff;
    padding: 10px 0 10px 0;
    border-bottom: 0px;
}

.style-accordion .card-header a {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    display: block;
    font-family: 'poppinsmedium';
    position: relative;
}

.style-accordion .card-header a span {
    position: absolute;
    display: block;
    width: 40px;
    height: 24px;
    right: 0px;
    top: 0px;
}

.style-accordion .card-header a[aria-expanded='true'] span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #868685;
    border-left: 2px solid #868685;
    border-bottom: 0 !important;
    border-right: 0 !important;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-left: -9px;
    margin-top: -4px;
}

.style-accordion .card-header a span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #868685;
    border-right: 2px solid #868685;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-left: -9px;
    margin-top: -15px;
}

/** video modal **/
/*.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}*/

/*.modal-dialog .modal-content button.close {
    right: 0px;
    top: -24px;
    background-color: #fff;
    padding: 12px;
    display: block;
    background-image: url('https://www.upn.edu.pe/sites/default/themes/upn/img/icon-close.svg');
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
}*/

/** slider viajes **/

#slider-viajes .card-slider figure {
    width: 324px /*294px*/;
    margin-right: 20px;
}

#slider-viajes .card-slider img {
    object-fit: cover;
    width: 100%;
    height: 268px;
}

.container-slider .arrow-right-slide {
    position: absolute;
    top: 40%;
    right: 24px;
}

.container-slider .arrow-left-slide {
    position: absolute;
    top: 40%;
    left: 24px;
}

.slick-slide {
    outline: none
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
    opacity: 0.25;
}

.country {
    text-align: center;
    width: 23.77777%;
    display: inline-block;
}

.country p {
    font-family: 'poppinsmedium';
    font-size: 10px;
    margin-bottom: 5px;
    padding: 8px 0;
}

/**fixed **/

.cta-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    display: flex;
    padding-top: 0 !important;
}

.cta-fixed>a {
    width: 50%;
    padding: 12px 9px;
    font-size: 12px;
    text-align: center;
    display: block !important;
}

.border-r {
    border-right: 1px solid #000000;
}


@media (min-width: 768px) {

    .logo-container img {
        height: 112px;
    }

    .cover-desktop {
        background-position: none;
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
    }

    .bg-empleabilidad {
        background: #ffffff;
    }

    .image-mobile-empleabilidad {
        background-image: none;
    }

    .image-mobile-internacionalidad {
        background-image: none;
    }

    .stripe:before {
        content: none;
    }

    .title h1 {
        color: #000000;
        font-family: 'poppinsbold';
        font-size: 45px;
        line-height: 48px;
    }

    .cta-yellow>a {
        width: 78%;
        margin: 0;
    }

    .cta-yellow.cta-big>a {
        width: 96%;
    }

    .section h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .section h3 {
        font-size: 18px;
    }

    .section p {
        font-size: 16px;
    }

    .historia img {
        object-fit: cover;
        height: 230px;
        width: 100%;
    }

    .box {
        height: 110px;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .box .number {
        font-size: 36px;
    }

    .text-big {
        font-size: 25px !important;
        font-family: 'poppinsbold' !important;
        line-height: 32px !important;
    }

    .line {
        width: 36px;
        margin: 12px 0 48px;
    }

    .why-box .line {
        width: 40px;
        margin: 6px 0 12px;
    }

    .line-shadow::after {
        bottom: -20px;
        height: 36px;
        width: 105%;
        left: 0;
    }

    .style-accordion .card-header {
        padding: 12px 0 12px 0;
    }

    /**slider viajes **/
    #slider-viajes figure {
        margin-left: 0px;
        margin-right: 40px;
        width: 324px;
    }

    .country {
        width: 14%;
    }

    .country p {
        font-size: 12px;
        padding: 12px 0;
    }

}

@media (min-width: 860px) {
    .cta-fixed {
        position: inherit;
        top: inherit;
        z-index: inherit;
        width: inherit;
        left: inherit;
        display: inherit;
    }
}

@media (min-width: 992px) {

    .cta-yellow>a {
        width: 60%;
        margin: 0;
    }

    .cta-yellow.cta-big>a {
        width: 94%;
    }

    .box {
        height: 140px;
    }

    .box .number {
        width: 45%;
    }

    .container-slider .arrow-right-slide {
        float: right;
        position: relative;
        right: initial;
        top: initial;
    }

    .container-slider .arrow-left-slide {
        float: left;
        position: relative;
        right: initial;
        top: initial;
    }

}

@media (min-width: 1200px) {

    .box {
        height: 120px;
    }

    
    .box .number {
        width: 38%;
    }

    .cta-yellow>a {
        width: 50%;
    }
}