@font-face {
  font-family: 'poppinsblack';
  src: url('../fonts/poppins-black-webfont.eot');
  src: url('../fonts/poppins-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-black-webfont.woff2') format('woff2'),
    url('../fonts/poppins-black-webfont.woff') format('woff'),
    url('../fonts/poppins-black-webfont.svg#poppinsblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.eot');
  src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-bold-webfont.woff') format('woff'),
    url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/poppins-light-webfont.eot');
  src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-light-webfont.woff2') format('woff2'),
    url('../fonts/poppins-light-webfont.woff') format('woff'),
    url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('../fonts/poppins-medium-webfont.eot');
  src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('../fonts/poppins-medium-webfont.woff') format('woff'),
    url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.eot');
  src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/poppins-semibold-webfont.eot');
  src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff'),
    url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

a,a:focus, a:active, a:hover{
  color: initial !important;
  outline: none !important;
}

.cta-header a[type="button"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.poppinsbold {
  font-family: 'poppinsbold';
}

.bg-global {
  background-color: #232323;
  color: white;
  font-family: poppinsregular;
}

.bg-laboral {
  font-family: poppinsregular;
}

.header-tecnologia {
  background-image: url('../img/4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 449px;
  position: relative;
}

.header-mundo-laboral {
  background-image: url('../img/bg-1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  min-height: 566px;
  position: relative;
}

.header-internacionalidad {
  background-image: url('../img/bg-internacionalidad-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 566px;
}

.header-empleabilidad {
  background-image: url('../img/bg-empleabilidad.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 566px;
}

.logo-container-2 {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
}

.logo-container-2 img {
  height: 82px;
}

.first-title h1 {
  color: #fff;
  font-family: 'poppinsbold';
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;
}

.height-top-text {
  height: 240px;
}

.content-title {
  position: absolute;
  bottom: 8%;
}

.position-title {
  position: absolute;
  bottom: 12%;
}

.content-title h1 {
  font-size: 108%;
}

.size-10 {
  font-size: 10px;
}

.size-14 {
  font-size: 14px;
}

.section h2 {
  font-size: 16px;
  line-height: 20px;
  font-family: "poppinsmedium";
}

.section h3,
.section h4 {
  font-size: 16px;
  line-height: 20px;
  font-family: "poppinsmedium";
}

.section p {
  font-size: 14px;
  font-family: "poppinsregular";
}

.text-form {
  color: #fdba30;
  font-family: poppinsbold;
}

.text-black {
  color: #000000;
}

.text-purple {
  color: #8330f5;
}

.text-yellow {
  color: #FDBA30;
}

.bg-yellow {
  background-color: #fdba30;
}

.border-purple {
  border: 1px solid #8330f5;
}

.border-form {
  border: 1px solid #a6a6a6;
}

.bg-black {
  background-color: #000000;
}

.bg-purple {
  background-color: #8330f5;
}

.line-title {
  background-color: #8330f5;
  margin-top: 13px;
  height: 1px;
  width: 38px;
}

.line {
  width: 40px;
  height: 2px;
  margin: 10px 0 32px;
}

.line-black {
  background: #000000;
}

.line-white {
  background: #ffffff;
}

.line-purple {
  background: #8330F5;
}

.style-btn-asesor {
  background-color: black;
  border: 1px solid white;
  padding: 10px 20px;
  width: 100%;
}

.style-servicios {
  padding: 17px 20px;
  min-height: 202px;
}

.relativo {
  position: relative;
}

.style-rect-servicios:before {
  content: '';
  width: 95.6%;
  height: 15%;
  position: absolute;
  bottom: -18px;
  z-index: -9;
  background-color: #8330f5;
  display: block;
  opacity: 1;
  transition: .25s opacity;
}

.justify-content-around.bg-purple,
.justify-content-around.bg-black,
.justify-content-around.bg-white {
  min-height: 196px;
}

.justify-content-around.bg-purple .text-center,
.justify-content-around.bg-black .text-center {
  width: 40%;
  border-right: 1px solid white;
}

.justify-content-around.bg-white .text-center {
  width: 40%;
  border-right: 1px solid #8330f5;
}

.justify-content-around.bg-purple .p-4,
.justify-content-around.bg-black .p-4,
.justify-content-around.bg-white .p-4 {
  width: 80%;
}

.justify-content-around.bg-purple span,
.justify-content-around.bg-black span,
.justify-content-around.bg-white span {
  font-family: 'poppinsbold';
  font-size: 60px;
}

.btn-conversa {
  background-color: #fdba30;
  color: black !important;
  text-decoration: none;
  font-size: 15px;
  padding: 13px 21px;
  line-height: 1;
  font-weight: bold;
}

.footer {
  background-color: black;
  height: 250px;
}

.section-experiencia .block-video-modal .link-video-modal::before {
  content: none;
}

.section-experiencia .block-video-modal .link-video-modal::after {
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  top: 50%;
}

.link-image-modal.link-video-modal::after {
  background-size: 54px;
  width: 54px;
  height: 54px;
  left: 28px;
  margin-left: 0;
  top: unset;
  margin-top: unset;
  bottom: 28px;
}


.link-video-modal {
  display: block;
  position: relative;
}

.link-video-modal figure {
  overflow: hidden;
}

.link-video-modal figure img {
  transition: .41s transform;
}

.link-image-modal.link-video-modal::after {
  background-size: 54px;
  width: 54px;
  height: 54px;
  left: 28px;
  margin-left: 0;
  top: unset;
  margin-top: unset;
  bottom: 28px;
}

.link-video-modal::after {
  content: '';
  background: white;
  border-radius: 50%;
  background-size: 54px;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: 5;
  left: 20px;
  bottom: 24px;
}

.tri::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 9;
  left: 34px;
  bottom: 34px;
  width: 0;
  height: 0;
  border-left: 30px solid #8330f5;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.modal-dialog.upn {
  max-width: 800px;
  margin: 120px auto;
}

.modal-body.upn {
  position: relative;
  padding: 0px;
}

.close.upn {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.text-lab {
  position: absolute;
  left: 34px;
  bottom: 0px;
}

#laboratorios .slick-dots li button:before {
  font-size: 13px;
  top: 8px;
  color: white;
  opacity: 0.5;
}

#laboratorios .slick-dots li.slick-active button:before {
  opacity: 1.75;
  color: #8330f5;
}

.btn-register {
  background-color: #fdba30;
  color: black !important;
  text-decoration: none !important;
  font-family: poppinssemibold;
  padding: 14px 89px;
}

.camp-form {
  border-radius: 0;
  height: calc(1.5em + 0.75rem + 10px);
  border: 1px solid #a6a6a6;
}

.bg-form-tec {
  background-color: white;
  width: 100%;
  border-radius: 9px;
  margin-top: 30px;
  padding: 30px 28px;
}

.bg-form-tec .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a6a6a6;
  outline: 0;
  box-shadow: 0 0 black;
}

.line-form {
  line-height: 1;
}

.logo-upn {
  width: 68px;
  position: absolute;
  left: 18px;
}

.stripe:before {
  background: #ffffff;
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-10deg);
  height: 60%;
  width: 100%;
  content: "";
  top: 0px;
  left: 0;
  position: absolute;
}

.box {
  background-color: #EBEBEB;
  margin-bottom: 12px;
  height: 100px;
  align-items: center;
}

.box p {
  margin-bottom: 0px;
}

.box .number {
  width: 36%;
  font-size: 30px;
  text-align: center;
}

.box .number .text-small {
  font-size: 20px;
}

.box .content {
  width: 60%;

}

.why-box {
  position: relative;
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.why-box .line {
  width: 40px;
  margin: 6px 0 12px;
}

.line-shadow::after {
  background: #fdba30;
  content: "";
  display: block;
  bottom: -16px;
  height: 32px;
  right: -15px;
  position: absolute;
  width: 105%;
  z-index: -1;
}

.step-box {
  border: 1px solid #fdba30;
  width: 100%;
  height: auto;
  min-height: 196px;
}

.step-box.step-first {
  border: 1px solid #fdba30;
  background-color: #fdba30;
}

.step-box .step {
  width: 33.333333%;
  position: relative;
  color: #fdba30;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-box.step-first .step {
  color: #000000;
  border-right: 1px solid #ffffff;
}

.step-box .content {
  width: 66.666667%;
}

.step-box .step {
  border-right: 1px solid #fdba30;
}

.step-box.step-first .step::after {
  background: #ffffff;
  z-index: 1;
}

.step-box .step h3 {
  font-size: 20px;
  font-family: "poppinsmedium";
  text-transform: uppercase;
  text-align: center;
}

.step-box span.number {
  font-size: 60px;
  font-family: "poppinsbold";
  display: flex;
  align-items: center;
  justify-content: center;
}

/***video modal yellow**/
.video-modal-yellow::after {
  content: "";
  background: url('https://www.upn.edu.pe/sites/default/themes/upn/img/video_icon.svg') no-repeat center center;
  background-size: 54px;
  width: 86px;
  height: 86px;
  display: block;
  position: absolute;
  z-index: 5;
  left: 8px;
  bottom: 5px;
}

figure>img {
  width: 100%;
}

.country {
  text-align: center;
  width: 23.77777%;
  display: inline-block;
}

.country p {
  font-family: 'poppinsmedium';
  font-size: 10px;
  margin-bottom: 5px;
  padding: 8px 0;
}

/***acordeon**/
.style-accordion .card {
  margin-bottom: 10px;
  border: 0;
}

.style-accordion .card-body {
  padding: 10px 0;
}

.style-accordion .card-header {
  background-color: #fff;
  padding: 10px 0 10px 0;
  border-bottom: 0px;
}

.style-accordion .card-header a {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  color: #000;
  text-decoration: none;
  display: block;
  font-family: 'poppinsmedium';
  position: relative;
}

.style-accordion .card-header a span {
  position: absolute;
  display: block;
  width: 40px;
  height: 24px;
  right: 0px;
  top: 0px;
}

.style-accordion .card-header a[aria-expanded='true'] span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 2px solid #868685;
  border-left: 2px solid #868685;
  border-bottom: 0 !important;
  border-right: 0 !important;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin-left: -9px;
  margin-top: -4px;
}

.style-accordion .card-header a span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 2px solid #868685;
  border-right: 2px solid #868685;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin-left: -9px;
  margin-top: -15px;
}


/** slider viajes **/

#slider-viajes .card-slider figure {
  width: 324px
    /*294px*/
  ;
  margin-right: 20px;
}

#slider-viajes .card-slider img {
  object-fit: cover;
  width: 100%;
  height: 268px;
}

.container-slider .arrow-right-slide {
  position: absolute;
  top: 40%;
  right: 24px;
}

.container-slider .arrow-left-slide {
  position: absolute;
  top: 40%;
  left: 24px;
}

.slick-slide {
  outline: none
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  opacity: 0.25;
}


.cta-header>a {
  padding: 14px 18px;
  text-decoration: none;
  font-size: 14px;
  font-family: "poppinsmedium";
  line-height: initial;
  width: 100%;
  margin: 0 auto 10px;
}

.border-white{
  border: 1px solid white;
}

/**fixed **/

.cta-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  left: 0;
  display: flex;
  padding-top: 0 !important;
}

.cta-fixed>a {
  width: 50%;
  padding: 12px 9px;
  font-size: 12px;
  text-align: center;
  display: block !important;
}

.border-r {
  border-right: 1px solid #000000;
}

@media (min-width: 767px) {
  .cta-fixed {
    position: inherit;
    top: inherit;
    z-index: inherit;
    width: inherit;
    left: inherit;
    display: inherit;
  }

  .border-r {
    border-right: none;
  }

}


@media (min-width: 768px) {

  .header-tecnologia {
    background-color: #232323;
    background-image: none;
    min-height: 658px;
    position: relative;
  }

  .header-mundo-laboral {
    background-color: white;
    background-image: none;
    min-height: 658px;
    position: relative;
  }

  .header-internacionalidad {
    background-size: cover;
    height: auto;
    background-image: none;
    background: #ffffff;
  }

  .header-empleabilidad {
    background-size: cover;
    height: auto;
    background-image: none;
    background: #ffffff;
  }

  .logo-container-2 img {
    height: 112px;
  }

  .height-top-text {
    height: 180px;
  }

  .first-title h1 {
    color: #000000;
    font-family: 'poppinsbold';
    font-size: 45px;
    line-height: 48px;
  }

  .content-title,
  .position-title {
    bottom: 26%;
  }

  .content-title h1 {
    font-size: 2.5rem;
  }

  .section h2 {
    font-size: 22px;
    line-height: 24px;
  }

  .section h3 {
    font-size: 18px;
  }

  .section p {
    font-size: 16px;
  }

  .line {
    width: 36px;
    margin: 12px 0 48px;
  }


  .cta-header>a {
    width: 78%;
    margin: 0;
  }

  .cta-header.cta-big>a {
    width: 96%;
  }

  .style-btn-asesor {
    width: 300px;
  }

  .style-rect-servicios:before {
    width: 99%;
  }

  .section-experiencia .block-video-modal .link-video-modal::before {
    content: 'Ver video';
    position: absolute;
    bottom: 45px;
    color: #fff;
    z-index: 9;
    left: 100px;
  }

  .section-experiencia .block-video-modal .link-video-modal::after {
    left: 16px;
    margin-left: 0;
    top: unset;
    margin-top: unset;
    bottom: 18px;
  }

  .btn-register {
    padding: 14px 118px;
  }

  .logo-upn {
    left: 30px;
  }

  .stripe:before {
    content: none;
    height: 0;
    width: 0;
  }

  .historia img {
    object-fit: cover;
    height: 230px;
    width: 100%;
  }

  .box {
    height: 110px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .box .number {
    font-size: 36px;
  }

  .text-big {
    font-size: 25px !important;
    font-family: 'poppinsbold' !important;
    line-height: 32px !important;
  }

  .why-box .line {
    width: 40px;
    margin: 6px 0 12px;
  }

  .line-shadow::after {
    bottom: -20px;
    height: 36px;
    width: 105%;
    left: 0;
  }

  .style-accordion .card-header {
    padding: 12px 0 12px 0;
  }

  /**slider viajes **/
  #slider-viajes figure {
    margin-left: 0px;
    margin-right: 40px;
    width: 324px;
  }

  .country {
    width: 14%;
  }

  .country p {
    font-size: 12px;
    padding: 12px 0;
  }

}

@media (min-width: 992px) {

  .cta-header>a {
    width: 60%;
    margin: 0;
  }

  .cta-header.cta-big>a {
    width: 94%;
  }

  .box {
    height: 140px;
  }

  .box .number {
    width: 45%;
  }

  .container-slider .arrow-right-slide {
    float: right;
    position: relative;
    right: initial;
    top: initial;
  }

  .container-slider .arrow-left-slide {
    float: left;
    position: relative;
    right: initial;
    top: initial;
  }

}

@media (min-width: 1200px) {

  .box {
    height: 120px;
  }

  .box .number {
    width: 38%;
  }

  .cta-header>a {
    width: 50%;
  }
}